@import "../../assets/styles/blocks";
@import "../home/header";
@import "../home/price";
@import "../home/advantage";
@import "../home/volume";
@import "../home/review";
@import "../home/modal";

body{
  font-family: 'Russo One';
};
.open-modal{
  visibility: visible;
  z-index: 10;
}